nav {
  display: flex;
  background: brown;
  justify-content: space-between;
  padding: 0 100px;
  font-size: 20px;
}
  
nav a {
  text-decoration: none;
  color: black;
  margin-top: 20px;
}
  
nav ul {
  display: flex;
  list-style: none;
}
  
nav ul li {
  margin-left: 100px;
}