nav {
  display: flex;
  background: brown;
  justify-content: space-between;
  font-size: 20px;
}
  
nav a {
  text-decoration: none;
  color: black;
  margin-top: 20px;
}
  
nav ul {
  display: flex;
  list-style: none;
}

@media only screen and (min-width: 651px) {
  nav {
    padding: 0 100px;
  }

  nav ul li {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 650px) {
  nav {
    padding: 0 50px;
  }

  nav ul li {
    margin-left: 50px;
  }
}