@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background: url("../images/neutral.jpg");
}

.login-statement {
  text-align: center;
}

.polls {
  margin: auto;
}

.poll {
  margin: 75px 0;
}

.poll-title {
  text-align: center;
  font-size: 30px;
  margin: 40px;
}

.poll-options {
  display: flex;
}

.poll-button {
  width: 50%;
  padding: 1em 0;
  background: #d0efff;
  font-size: 16px;
  border-radius: 10px;
}

.poll-button:hover {
  cursor: pointer;
}

.poll-button:disabled:hover {
  cursor: default;
}

.poll-results {
  display: none;
  text-align: center;
}

.poll-results p {
  font-weight: 700;
  font-size: 18px;
}

.votes-container {
  display: inline;
}

.votes {
  display: flex;
  justify-content: space-around;
}

.active {
  background: #2a9df4;
}

.voted .poll-results {
  display: inline;
}

.owned {
  position: relative;
}

.trash-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 2.5em;
}

.trash-icon:hover {
  cursor: pointer;
}

.poll-create {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  margin-bottom: 100px;
}

.poll-create h1 {
  text-align: center;
}

#poll-form {
  display: flex;
}

#poll-form input {
  height: 3em;
  border-radius: 5px;
}

.form-error {
  color: red;
}

.load-polls {
  width: 100%;
  padding: 5px 0px;
  margin-bottom: 5%;
  height: 4em;
  width: 60%;
  position: relative;
  left: 20%;
  background: turquoise;
}

.load-polls:hover {
  cursor: pointer;
}

.arrow-down {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.poll-submit:hover {
  cursor: pointer;
}

@media only screen and (min-width: 901px) {
  .polls {
    width: 70%;
  }
}

@media only screen and (max-width: 900px) {
  .polls {
    width: 80%;
  }
}
